img{
    width: auto;
    padding-right: 2px;
    height: 125px;
}

.imagesp{
    padding-left: 75px;
    background-color: yellow;
}

.img4,.img3{
    width: 128px;
    padding-bottom: 3px;
}

.text{
    background-color: rgb(255, 255, 74);
    font-style: italic;
}
